@grey: #303030;
@font-stack: Helvetica, Futura, Roboto, sans-serif;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: @grey;
  img {
    width: 150px;
  }
  h1 {
    font-size: 32px;
    font-family: @font-stack;
    color: white;
  }
}
